@import "bootstrap";

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

footer {
  text-align: center;
}

.menu-item {
  margin: 20px 20px;
}

.item-image {
  display: block;
  width: 230px;
  height: 200px;
}