@import "bootstrap";
@import "font-awesome";

header {
  text-align: center;
}

main {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

footer {
  text-align: center;
}

.item {
  height: 200px;
}

.menu-items li a {
  margin-top: 30px;
}

i {
  float: right;
  margin-right: 40px;
}