@import "bootstrap";

header {
  text-align: center;
}

main {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

footer {
  text-align: center;
}

.item {
  height: 200px;
}

.menu-items li a {
  margin-top: 30px;
}