header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

nav ul {
  width: 15vw;
  margin-top: 100px;
  margin-left: 50px;
  list-style: none;
}

nav ul li {
  margin-top: 40px;
}

footer {
  text-align: center;
}

.menu-item {
  margin: 20px 20px;
}

.item-image {
  display: block;
  width: 230px;
  height: 200px;
}